
        h1{
            color:palevioletred
        }

        h2{
            color: antiquewhite;
        }

        h3{
            color:aqua
        }

        h4{
            color:blueviolet
        }

        h5{
            color: lawngreen;
        }

        h6{
            color: darkslateblue;
        }